@font-face{
    font-family: 'outfit';
    src: url('assets/fonts/Outfit.ttf') format('truetype'); 
    font-weight: normal;  
}
@font-face{
    font-family: 'sarina';
    src: url('assets/fonts/Sarina-Regular.ttf') format('truetype'); 
    font-weight: bold;  
}
@font-face{
    font-family: 'vietnam';
    src: url('assets/fonts/BeVietnamPro.ttf') format('truetype'); 
    font-weight: normal;  
}
@font-face{
    font-family: 'caprasimo';
    src: url('assets/fonts/Caprasimo.ttf') format('truetype'); 
    font-weight: normal;  
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --bg-color-dark: #1e1e1e;
    --bg-color-light: #ffffff;
    --primary-color: #0a0a0a;
    --secondary-color: #00f5ff;
    --accent1: #00ff00;

}
.navigate{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 100;
    background-color: #1111118e;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
}
.logo{
    width: 10vw;
    animation: 3s linear 0s infinite running myRotation;
}
@keyframes myRotation{
    100%{transform: rotateY(360deg)};
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f1f5;
    border-radius: 20px;
}
#search-input{
    width: 20vw;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 10px;
    font-family: 'outfit', serif;
    transition: 1s ease-in-out; 
}
#search-input:focus{
    width: 30vw;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 10px;
    font-family: 'outfit', serif;
    transition: 500ms ease-in-out; 
}
nav{
    display: flex;
    gap: 10px;
    font-family: 'outfit', serif;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:hover{
    transform: translateY(-3px);
    border-bottom: solid 1px gold;
    color: gold;
}
.cart-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 5vw;

}
.nav-mobile{
    display: none;
}

#banner-section{
    background-image: url(assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#banner-container{
    text-align: left;
    width: 40vw;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    gap: 2vw;
}
.banner-text{
    font-size: 20px;
    text-align: end;
    font-family: 'caprasimo', serif;
    color: var(--bg-color-light);
}
#bannerBtn{
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    width: 10vw;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.prodSecTitle{
    text-align: center;
    margin-top: 20vh;
    font-family: 'Vietnam', sans-serif;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px;
    margin-top: 5vh;
    scrollbar-width:thin;
}
.product{
    display: flex;
    flex-direction: column;
    background-color: #f0f1f5;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: 'outfit', serif;

}
#productPic{
    width: 300px;
}
#prodName{
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px 5px;
}
#price{
    font-size: 1em;
    font-weight: bolder;
    padding: 10px 5px;
}
.ratingCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}
.rating{
    display: flex;
    align-items: center;
}
.rating img{
    filter: drop-shadow(1px 1px 1px black);
}
.addCart{
    background-color: black;
    border-radius: 5px;
}
.cartBtn{
    padding: 5px;
    background-color: #000;
    border: none;
}

/*about section*/

#about-section{
    height: 60vh;
}
/*Product page styling*/
.profileCart{
    display: flex;
}
.productPagenav{
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 1vw;
}
.prodPageSec{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-family: 'Vietnam', sans-serif;
}
.prodImg{
    width: 500px;
}
.largeDisplay{
    width: 500px;
}
.largeDisplay img{
    width: 500px;
}
.smallImgs{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallImgs img{
    width: 100px;
}
.prodDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    width: 600px;
    padding: 10px 10px;
}
.prodName{
    font-size: 2.5em;  
}
.productPrice{
    font-size: 1.2em;
    font-weight: bolder;
}
.discriptions{
    width: 600px;
}
.buttons{
    width: 600px;
    display: flex;
    height: 30px;
}
.buttons button{
    width: 300px;
    background-color: #fff;
   
}
.descriptionbtn{
    border-right: solid 1px black;
    border: none;
}
.detailsbtn{
    border: none;
}
.detailsbtn:active{
    border-bottom: solid 1px blue;
}
#color:nth-child(1){
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 1px black;
}

#color:nth-child(2){
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    border: solid 1px black;
}
#color:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: solid 1px black;
}
.colors{
    padding-top: 0.5rem;
}
.color-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 0.5px black;
}

.size{
    padding-top: 1rem;
}
.sizes button{
    width: 35px;
}
.quantity{
    padding-top: 0.5rem;
}
.qty-select{
    display: flex;
    width: 80px;
    align-content: center;
    justify-content: space-between;
    background-color: #999;
    border-radius: 30px;
}
.qty-select button{
    width: 20px;
    border-radius: 30px;
    border: solid 0.5px black;
}
.add2cart-wishlist{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-top: 1rem;    
}
.add2cart-wishlist button{
    width: 200px;
    padding: 5px 5px;
    border-radius: 20px;
    /*border: solid 0.5px black;*/
    border: none;
}
.add2cart{
    background-color: #e93159;
}
.add2wish{
    background-color: #999;
}
@media (max-width: 820px) {
    .logo{
        width: 20vw;
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #search-input{
        width: 20vw;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 15px 10px;
    }
    #search-input:hover{
        width: 30vw;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 15px 10px;
    }
    /*
    .drawer{
        display: flex;
        color: black;
        padding-right: 10vw;
    }*/
    nav{
        display: none;
    }
    .nav-mobile{
        display: flex;
        padding-right: 5vw;
        gap: 10px;
    }
    .cart-profile{
        display: none;
    }
   
    #banner-section{
        background-image: url(assets/images/crossedgld.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: end;
    }
    #banner-container{
        margin-top:20px;
        width: 60vw;
        padding: 10px 50px;
        text-align: right;
    }
    .banner-text{
        font-size: 17px;
        text-align: end;
        font-family: 'caprasimo', serif;
        color: black;
        text-wrap:var(--bg-color-light) ;

    }
    #bannerBtn{
        padding: 10px 5px;
        border-radius: 10px;
        border: none;
        width: 40vw;
        color: #ffffff;
        font-family: 'caprasimo', serif;

    }
    .prodSecTitle{
        text-align: center;
        margin-top: 10vh;
        font-family: 'Vietnam', sans-serif;
    }
    

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px;
}
.product{
    display: flex;
    flex-direction: column;
    background-color: #f0f1f5;

}
#productPic{
    width: 150px;
}
.productInfo{
    width: 100px;
}
#prodName{
    font-size: 12px;
    font-weight: bolder;
    padding: 10px 5px;
}
#price{
    font-size: 10px;
    font-weight: bolder;
    padding: 10px 5px;
}
.ratingCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}
.rating img{
    filter: drop-shadow(1px 1px 1px black);
}
.addCart{
    background-color: black;
    border-radius: 5px;
}
.cartBtn{
    padding: 5px;
}
/*Product for mobile*/


.prodPageSec{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.prodImg{
    width: 100vw;
}
.largeDisplay{
    width: 100vw;
}
.largeDisplay img{
    width: 100vw;
}
.smallImgs{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallImgs img{
    width: 15vw;
}
.prodDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    width: 600px;
    padding: 10px 10px;
}
.prodName{
    font-size: 2.5em;  
}
.productPrice{
    font-size: 1.2em;
    font-weight: bolder;
}
.discriptions{
    width: 600px;
}
.buttons{
    width: 600px;
    display: flex;
    height: 30px;
}
.buttons button{
    width: 300px;
    background-color: #fff;
   
}
.descriptionbtn{
    border-right: solid 1px black;
    border: none;
}
.detailsbtn{
    border: none;
}
.detailsbtn:active{
    border-bottom: solid 1px blue;
}
#color:nth-child(1){
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 1px black;
}

#color:nth-child(2){
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    border: solid 1px black;
}
#color:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: solid 1px black;
}
.colors{
    display: flex;
    align-items: center;
    gap: 10px;
}
.colorBtns{
    display: flex;
    align-items: center;
    gap: 5px;
}

.size{
    padding-top: 1rem;
}
.sizes button{
    width: 35px;
}
.quantity{
    padding-top: 0.5rem;
}
.qty-select{
    display: flex;
    width: 80px;
    align-content: center;
    justify-content: space-between;
    background-color: #999;
    border-radius: 30px;
}
.qty-select button{
    width: 20px;
    border-radius: 30px;
    border: solid 0.5px black;
}
.add2cart-wishlist{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-top: 1rem;    
}
.add2cart-wishlist button{
    width: 200px;
    padding: 5px 5px;
    border-radius: 20px;
    /*border: solid 0.5px black;*/
    border: none;
}
.add2cart{
    background-color: #e93159;
}
.add2wish{
    background-color: #999;
}
}
@media (max-width: 1028px) {
    
.prodPageSec{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.prodImg{
    width: 100vw;
}
.largeDisplay{
    width: 100vw;
}
.largeDisplay img{
    width: 100vw;
}
.smallImgs{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallImgs img{
    width: 15vw;
}
.prodDetails{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: start;
    width: 100%;
    padding: 10px 10px;
}
.prodName{
    font-size: 2.5em;  
}
.productPrice{
    font-size: 1.2em;
    font-weight: bolder;
}
.discriptions{
    width: 100%;
}
.buttons{
    width: 100%;
    display: flex;
    height: 30px;
}
.buttons button{
    width: 50%;
    background-color: #fff;
   
}
.descriptionbtn{
    border-right: solid 1px black;
    border: none;
}
.detailsbtn{
    border: none;
}
.detailsbtn:active{
    border-bottom: solid 1px blue;
}
.descriptionbtn:active{
    border-bottom: solid 1px blue;
}
#color:nth-child(1){
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 1px black;
}

#color:nth-child(2){
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    border: solid 1px black;
}
#color:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: solid 1px black;
}
.colors{
    display: flex;
    align-items: center;
    gap: 10px;
}
.colorBtns{
    display: flex;
    align-items: center;
    gap: 5px;
}

.size{
    padding-top: 1rem;
}
.sizes button{
    width: 35px;
}
.quantity{
    padding-top: 0.5rem;
}
.qty-select{
    display: flex;
    width: 80px;
    align-content: center;
    justify-content: space-between;
    background-color: #999;
    border-radius: 30px;
}
.qty-select button{
    width: 20px;
    border-radius: 30px;
    border: solid 0.5px black;
}
.add2cart-wishlist{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-top: 1rem;    
}
.add2cart-wishlist button{
    width: 200px;
    padding: 5px 5px;
    border-radius: 20px;
    /*border: solid 0.5px black;*/
    border: none;
}
.add2cart{
    background-color: #e93159;
}
.add2wish{
    background-color: #999;
}
}